<footer class="page-footer orange">
	<div class="container">
		Stock data source Highcharts.com.
		<p>StockCharting is an interactive data analysis company, a trusted leader in financial information.</p>
	</div>
	<div class="footer-copyright">
	  <div class="container">
	  Made by <a class="orange-text text-lighten-3" href="/">StockCharting Software</a> | © Copyright 2017. All rights reserved.
	  </div>
	</div>
</footer>