<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main class="container">
        <div>
            <p>The StockCharting award-winning trading products and services offer something for every level of trader and professional. StockCharting's trading platform delivers real-time, streaming, stock, futures, Forex and options quotes and analysis on the world's stock markets delivered to PCs, laptops and mobile devices.</p>
            <br />
        </div>
        <ul class="collection with-header">
            <li class="collection-header"><h5>Key Features Include</h5></li>
            <li class="collection-item">NASDAQ, NYSE, OTCBB, OTC Markets</li>
            <li class="collection-item">Canada (TSX and TSX Venture exchanges)</li>
            <li class="collection-item">Lightning fast real time data</li>
            <li class="collection-item">Advanced charting with customizable studies</li>
            <li class="collection-item">Hot list stock screeners and alert ticker so you are aware of every opportunity</li>
            <li class="collection-item">Trade stocks directly from the charts with your choice of +50 brokers</li>
            <li class="collection-item">Fundamental stock market data for best decision support</li>
            <li class="collection-item">Market Depth available, including NYSE Open Book and NASDAQ TotalView</li>

        </ul>
    </main>
       <div class="container section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">group</i></h2>
            <h5 class="center">Charts and Studies</h5>

            <p class="light">Get award-winning intraday data (15-minute delayed), easy-to-use charting tools that are flexible enough to adapt to ever-changing market conditions. Find new trading opportunities instantly.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">settings</i></h2>
            <h5 class="center">Customization</h5>

            <p class="light">Intuitive and customizable workspace. Create your workspace and customize your favorites and detachable pages. Use built-in shortcut keys or create your own.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">flash_on</i></h2>
            <h5 class="center">Trade Alerts</h5>

            <p class="light">Stream and display events as they happen in real-time based on the alerts and filters selected. Add graphically rich columns to enhance the data and see multiple time frames at a glance.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">


    <footer>
        <% include ../partials/footer %>
    </footer>
    
    <% include ../partials/footer-scripts %>

</body>
</html>